<!-- # check db/schema.rb for the list of fields/properties -->

<div class="event">
  <p>
    <%= link_to(event) do %>
      <strong><%= event.name %> (<%= event.city %>)</strong><br />
    <% end %>
    Date: <%= event.date %><br />
    Capacity: <%= event.capacity %>
  </p>
</div>